
.container{
  display:flex;
  margin-left:10rem;
}
.k1{
  color:white;
  position:relative; 
  top:0.5rem;
  font-size:2rem
}

.head{
  color: White;
  margin:0.5rem 1rem 1rem 1rem;
  font-size:2rem;
    padding-top:0rem
}
.span{
  color:white;
  font-size:10px;
  margin-left:3rem
}


.k2{
  color:white;
  position:relative;
  top:0.5rem;
  font-size:2rem
}
.toggleDiv1{
  width:12%;height:10vh;
}

.mainDiv{
  /* border:2px solid red; */
  display:flex;
  flex-wrap:wrap;
}

.contDiv{ width:45%;
      margin-left:3rem;
      display:flex;
      flex-wrap:wrap
    }
  
    .boardDiv{width:8%;
         height:5vw
        }
        body{background-color: teal;}
.chessKey{
  /* border:1px solid red; */
    padding:1vw 0px 0px 1.6vw;
    font-size: 2.5vw;
    height:4rem;
}

@media screen and (max-width:30rem) {
  .contDiv{
    margin-left:0px;

  }
  .toggleDiv1{
    width:12%;height:4.6vh;
  }
  .mainDiv{
    display:block;
    /* flex-wrap:wrap; */
  }
  .mainDiv>div{
    /* border: 4px solid yellow; */
    width:100%;
  }
  .contDiv{
    width:100%;
  }
  .chessKey{
     /* border:1px solid red;  */
      padding:3vw;
      font-size: 3.5vw;
      height:4vh;
  }
  
}

@media screen and (min-width:30rem) and (max-width:40rem){
  .contDiv{
    margin-left:0px;

  }
  .toggleDiv1{
    width:12%;height:5vh;
  }
  .mainDiv{
    display:block;
    /* flex-wrap:wrap; */
  }
  .mainDiv>div{
    /* border: 4px solid yellow; */
    width:100%;
  }
  .contDiv{
    width:100%;
  }
  .chessKey{
     /* border:1px solid red;  */
      padding:1vw 2.5vw;
      font-size: 3vw;
      height:2vh;
  }
  
}

@media screen and (min-width:40rem) and (max-width:65rem) {
  
  .chessKey{
      padding:2vw 1.5vw;
    
  } 
  .chessKey{
  
     height:6vh;
 }
} 