
.container{
  display:flex;
  margin-left:10rem;
}
.k1{
  color:white;
  position:relative; 
  top:0.5rem;
  font-size:2rem
}

.head{
  color: White;
  margin:0.5rem 1rem 1rem 1rem;
  font-size:2rem;
    padding-top:0rem
}
.span{
  color:white;
  font-size:10px;
  margin-left:3rem
}


.k2{
  color:white;
  position:relative;
  top:0.5rem;
  font-size:2rem
}
.toggleDiv1{
  width:12%;height:4.6rem;
}
.mainDiv{
  display:flex;
  flex-wrap:wrap;
}

.contDiv{ width:45%;
      margin-left:3rem;
      display:flex;
      flex-wrap:wrap
    }
    .boardDiv{width:8%;
         height:5vw
        }
        body{background-color: teal;}
.chessKey{
  /* border:1px solid red; */
    padding:1vw 0px 0px 1.6vw;
    font-size: 2.5vw;
    height:4rem;
}